version: "3.9"

services:
  postgres:
    image: postgres:16
    restart: always
    container_name: utopia_postgres
    environment:
      POSTGRES_USER: anirudha
      POSTGRES_PASSWORD: Robin@930
      POSTGRES_DB: utopia
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    container_name: utopia-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
volumes:
  pgdata:
