version: "3.9"

services:
  postgres:
    image: postgres:16
    restart: always
    container_name: utopia_postgres
    environment:
      POSTGRES_USER: anirudha
      POSTGRES_PASSWORD: Robin@930
      POSTGRES_DB: utopia
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
